
/* Explore */
.imdblinks input[type=text] { width: 80px; }
.imdblinks li { margin-top: 5px; }
.imdblinks input[type=text], .imdblinks label { margin-right: 10px; }
.imdblinks label { width: 30px; display: inline-block; }
.imdblinks .note { width: 350px!important; }
.imdblinks .spacer { visibility: hidden; }